<?php session_start();?>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="page-top" class="page-top"></div><!-- /.page-top -->

  		<section id="top-contact" class="top-contact">
  			<div class="container">
  				<div class="row">
  					<div class="col-sm-8 pull-left">
  						<ul class="contact-list">
  							<li>
  								<a class="site-name" href="#">
  									<span class="top-icon"><i class="fa fa-link"></i></span>
  									www.fass.edu.tt
  								</a>
  							</li>
  							<li>
  								<a class="info" href="#">
  									<span class="top-icon"><i class="fa fa-envelope"></i></span>
  									fyzabadangsec@gov.tt
  								</a>
  							</li>
  							<li>
  								<a class="phone-no" href="#">
  									<span class="top-icon"><i class="fa fa-phone"></i></span>
  									1868 677-7439
  								</a>
  							</li>
  						</ul>
						</div>
						
						

  					<div class="col-sm-4 pull-right">
  						<div class="top-social">
  							<ul>
  								<li>
  									<a href="/fass/auth" class="btn">Dial-in</a>
  								</li>
  							</ul>
  						</div>
						</div>
						

  				</div><!-- /.row -->
  			</div><!-- /.container -->
  		</section><!-- /#top-contact -->



  		<section id="site-banner" class="site-banner text-center">
  			<div class="container">
  				<div class="site-logo">
						<h1>Fyzabad Anglican Secondary School</h1>
  				</div><!-- /.site-logo -->
  			</div><!-- /.container -->
  		</section><!-- /#site-banner -->



  		<header id="main-menu" class="main-menu">
  			<div class="container">
  				<div class="row">
  					<div class="col-sm-7">
  						<div class="navbar-header">
  							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
  								<i class="fa fa-bars"></i>
  							</button>
                <div class="menu-logo">
                  <h3>Fyzabad&nbspAnglican Secondary&nbspSchool</h3>
                </div><!-- /.menu-logo -->
              </div>
              <nav id="menu" class="menu collapse navbar-collapse">
               <ul id="headernavigation" class="menu-list nav navbar-nav">
                <li class="active"><a href="/fass/#page-top">Home</a></li>
                <li><a href="/fass/#latest-post">Updates</a></li>
                <li><a href="/fass/#portfolio">Photos</a></li>
                <li><a href="/fass/#services">Calendar</a></li>
                <li><a href="/fass/#contact">Contact</a></li>
                <li><a href="/fass/#about">About</a></li>
              </ul><!-- /.menu-list -->
            </nav><!-- /.menu-list -->
          </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </header><!-- /#main-menu -->